    <h1>Create Student</h1>
    <h1>Update Student</h1>
<p>
  <label>Name:</label>
  <%= text_field_tag :name, @student.name %>
</p>
<p>
<label>Hometown:</label>
<%= text_field_tag :hometown, @student.hometown %>
</p>
<p>
<label>Birthday:</label>
<%= text_field_tag :birthday, @student.birthday %>
</p>
  <%= submit_tag "submit" %>

